  body{
    background-color: #EEF5FF;
    margin:25px;
  }
  .brand .fbrand {
    width: auto;
    height: 0;
    margin-left: -100px;
    font-size: 68px;
    font-weight: 400;
    color: #176b87;
    font-family: Jolly Lodger, 'Source Sans Pro';
    white-space: nowrap;
    text-align: center;
  }
  .brand .sbrand {
    width: auto;
    height: 25px;
    margin-left: 85px;
    font-size: 58px;
    font-weight: 400;
    line-height: 1.215;
    color: #86b6f6;
    font-family: Jolly Lodger, 'Source Sans Pro';
    white-space: nowrap;
    text-align: center;
  }
  div.polaroid {
    width: 100%;
    background-color: #86B6F6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
 